.link-bottom-line {
  font-size: unset;
}

.topic-list-item .discourse-tags {
  display: block;
  font-size: var(--font-down-2);
  clear: both;
}

.category.topic-list-data {
  flex: 0 1 165px;
  width: 165px;
  .badge-category {
    max-width: 135px;
  }
}

@media all and (max-width: 850px) {
  .topic-list {
    .category {
      min-width: 0;
      padding: 0;
    }
  }
}
