.link-bottom-line {
  .badge-wrapper /* Remove when 3.2 becomes stable */, .badge-category__wrapper {
    display: none;
  }
}

.category.topic-list-data {
  flex: 0 1 165px;
  width: 165px;

  .badge-category {
    max-width: 135px;
  }
}

@media all and (max-width: 850px) {
  .topic-list {
    .category {
      min-width: 0;
      padding: 0;
    }
  }
}
